/* обнулення */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* обнулення */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    
}
img {
    width: 100%;
    max-width: 100%;
}
.container{
    width: 1920px;
    min-width: 320px;
    height: 5099px;

    
}

/* header start */

.header{
    display: flex;
    align-items: center;
    padding-right: 275px;
    padding-left: 275px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;

}
h1{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.logo{
    /* margin-top: 30px;
    margin-bottom: 30px; */
}
.list-row{
    display: flex;
    margin-left: 172px;
}
.list-row li{
    list-style-type: none;
    margin-right: 72px;

}
.list-row li:last-child{
    margin-right: 283px;
}
.list-row li p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #292929;
}
.header a {
    text-decoration: none;
}
.header p:hover{
    transform: scale(1.2);
    transition: 1s;
}
.form{
    /* margin-top: 17px;
    margin-bottom: 17px; */
}
.form button:first-child{
    background-color: #FFFFFF;
}

.form button:last-child{
    background: #01996D;
    border: none;
    border-radius: 4px;
    width: 183px;
    height: 51px;
    color: #FFFFFF;
    margin-left: 30px;
}
.form button{
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}
.form button:focus{
    outline: none;
}


/* header end */

/* main start */
.first-section{
    background: url(../img/backimg/BG.png) top center  no-repeat;
    background-size: cover;
    
}
.first-block {
    padding-left: 275px;
    padding-top: 175px;
    
}
.first-block h2{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 74px;
    color: #01996D;
    margin-bottom: 30px;
}
.main-text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    color: #484848;
    margin-bottom: 45px;
}
.first-block button{
    background: #01996D;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px;
    width: 227px;
    height: 65px;
}
.first-block button:focus{
    outline: none;
}

.button-text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.button-text:hover{
    transform: scale(1.2);
}
/* main end */